# Compiled class file
*.class

# Log file
*.log
*.logs

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/base/target/
/tomcat/target/
/mybatis/target/
/logs/
/dubbo/dubbo-cluster/target/
/dubbo/dubbo-common/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.compiler.Compiler
/dubbo/dubbo-common/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extension.ExtensionFactory
/dubbo/dubbo-common/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.logger.LoggerAdapter
/dubbo/dubbo-common/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.status.StatusChecker
/dubbo/dubbo-common/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.store.DataStore
/dubbo/dubbo-common/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.threadpool.ThreadPool
/dubbo/dubbo-common/target/classes/META-INF/LICENSE
/dubbo/dubbo-common/target/classes/security/serialize.blockedlist
/dubbo/dubbo-common/target/classes/serial-blacklist.properties
/dubbo/dubbo-common/target/test-classes/com/alibaba/dubbo/common/serialize/dubbo/SimpleDO.fc
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.activate.ActivateExt1
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.adaptive.HasAdaptiveExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.compatible.CompatibleExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext1.SimpleExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext2.Ext2
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext3.UseProtocolKeyExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext4.NoUrlParamExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext5.NoAdaptiveMethodExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext6_inject.Ext6
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext6_wrap.WrappedExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext7.InitErrorExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext8_add.AddExt1
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.ext9_empty.Ext9Empty
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extensionloader.injection.InjectExt
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.logger.LoggerAdapter
/dubbo/dubbo-common/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.status.StatusChecker
/dubbo/dubbo-common/target/test-classes/META-INF/services/com.alibaba.dubbo.common.extensionloader.activate.ActivateExt1
/dubbo/dubbo-common/target/test-classes/security/invalid_data.ser
/dubbo/dubbo-common/target/test-classes/dubbo.properties
/dubbo/dubbo-common/target/test-classes/json.flex
/dubbo/dubbo-common/target/test-classes/log4j.xml
/dubbo/dubbo-common/target/test-classes/md5.testfile.txt
/dubbo/dubbo-common/target/test-classes/properties.load
/dubbo/dubbo-common/target/test-classes/StreamUtilsTest.txt
/dubbo/dubbo-config/dubbo-config-api/target/classes/META-INF/LICENSE
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.common.status.StatusChecker
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.common.threadpool.ThreadPool
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.registry.RegistryFactory
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.remoting.Codec
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.remoting.Dispatcher
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.remoting.exchange.Exchanger
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.remoting.telnet.TelnetHandler
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.remoting.Transporter
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.rpc.cluster.Cluster
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.rpc.cluster.LoadBalance
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.rpc.ExporterListener
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.rpc.Filter
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.rpc.InvokerListener
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.rpc.Protocol
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/META-INF/services/com.alibaba.dubbo.rpc.ProxyFactory
/dubbo/dubbo-config/dubbo-config-api/target/test-classes/log4j.xml
/dubbo/dubbo-config/dubbo-config-spring/target/classes/META-INF/compat/dubbo.xsd
/dubbo/dubbo-config/dubbo-config-spring/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.extension.ExtensionFactory
/dubbo/dubbo-config/dubbo-config-spring/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.status.StatusChecker
/dubbo/dubbo-config/dubbo-config-spring/target/classes/META-INF/dubbo.xsd
/dubbo/dubbo-config/dubbo-config-spring/target/classes/META-INF/LICENSE
/dubbo/dubbo-config/dubbo-config-spring/target/classes/META-INF/spring.handlers
/dubbo/dubbo-config/dubbo-config-spring/target/classes/META-INF/spring.schemas
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.registry.RegistryFactory
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Filter
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/spring/dubbo-annotation-consumer.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/spring/dubbo-annotation-provider.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/spring/dubbo-consumer.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/spring/dubbo-provider.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/spring/dubbo-rest-consumer.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/config.properties
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/default.properties
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/dubbb-consumer.properties
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/dubbb-provider.properties
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/dubbo.yml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/dubbo-common.properties
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/multiple-protocols-consumer.properties
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/META-INF/multiple-protocols-provider.properties
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/annotation-consumer.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/annotation-provider.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/annotation-version-consumer.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/annotation-version-provider.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/aop-autowire-byname.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/aop-autowire-bytype.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/consumer-notification.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/customize-parameter.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/delay-fixed-time.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/delay-on-initialized.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/demo-provider.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/demo-provider-long-waiting.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/demo-provider-no-methods-interface.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/demo-provider-UnserializableBox.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/generic-export.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/init-reference.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/init-reference-getUrls.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/init-reference-retry-false.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/multi-monitor.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/multi-protocol.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/multi-protocol-default.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/multi-protocol-error.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/multi-protocol-register.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/multi-registry.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/override-multi-protocol.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/override-protocol.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/provider-multi.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/provider-nested-service.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/provider-with-module.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/provider-with-monitor.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/service-class.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/spring-extension-inject.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/system-properties-override.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/system-properties-override-default.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/com/alibaba/dubbo/config/spring/xml-override-properties.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/webapps/test/WEB-INF/web.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/webapps/test2/WEB-INF/web.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/webapps/test3/WEB-INF/web.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/applicationContext.xml
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/dubbo.properties
/dubbo/dubbo-config/dubbo-config-spring/target/test-classes/log4j.xml
/dubbo/dubbo-container/dubbo-container-api/target/classes/META-INF/assembly/bin/dump.sh
/dubbo/dubbo-container/dubbo-container-api/target/classes/META-INF/assembly/bin/restart.sh
/dubbo/dubbo-container/dubbo-container-api/target/classes/META-INF/assembly/bin/server.sh
/dubbo/dubbo-container/dubbo-container-api/target/classes/META-INF/assembly/bin/start.bat
/dubbo/dubbo-container/dubbo-container-api/target/classes/META-INF/assembly/bin/start.sh
/dubbo/dubbo-container/dubbo-container-api/target/classes/META-INF/assembly/bin/stop.sh
/dubbo/dubbo-container/dubbo-container-api/target/classes/META-INF/LICENSE
/dubbo/dubbo-demo/dubbo-demo-api/target/classes/META-INF/LICENSE
/dubbo/dubbo-demo/dubbo-demo-consumer/target/classes/META-INF/spring/dubbo-demo-consumer.xml
/dubbo/dubbo-demo/dubbo-demo-consumer/target/classes/META-INF/LICENSE
/dubbo/dubbo-demo/dubbo-demo-consumer/target/classes/dubbo.properties
/dubbo/dubbo-demo/dubbo-demo-consumer/target/classes/log4j.properties
/dubbo/dubbo-demo/dubbo-demo-provider/target/classes/META-INF/spring/dubbo-demo-provider.xml
/dubbo/dubbo-demo/dubbo-demo-provider/target/classes/META-INF/LICENSE
/dubbo/dubbo-demo/dubbo-demo-provider/target/classes/dubbo.properties
/dubbo/dubbo-demo/dubbo-demo-provider/target/classes/log4j.properties
/dubbo/dubbo-filter/dubbo-filter-cache/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.cache.CacheFactory
/dubbo/dubbo-filter/dubbo-filter-cache/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Filter
/dubbo/dubbo-filter/dubbo-filter-cache/target/classes/META-INF/LICENSE
/dubbo/dubbo-filter/dubbo-filter-validation/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Filter
/dubbo/dubbo-filter/dubbo-filter-validation/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.validation.Validation
/dubbo/dubbo-filter/dubbo-filter-validation/target/classes/META-INF/LICENSE
/dubbo/dubbo-monitor/dubbo-monitor-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Filter
/dubbo/dubbo-monitor/dubbo-monitor-api/target/classes/META-INF/LICENSE
/dubbo/dubbo-registry/dubbo-registry-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.status.StatusChecker
/dubbo/dubbo-registry/dubbo-registry-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Protocol
/dubbo/dubbo-registry/dubbo-registry-api/target/classes/META-INF/LICENSE
/dubbo/dubbo-registry/dubbo-registry-api/target/test-classes/log4j.xml
/dubbo/dubbo-registry/dubbo-registry-multicast/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.registry.RegistryFactory
/dubbo/dubbo-registry/dubbo-registry-multicast/target/classes/META-INF/LICENSE
/dubbo/dubbo-registry/dubbo-registry-zookeeper/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.registry.RegistryFactory
/dubbo/dubbo-registry/dubbo-registry-zookeeper/target/classes/META-INF/LICENSE
/dubbo/dubbo-remoting/dubbo-remoting-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.remoting.Codec2
/dubbo/dubbo-remoting/dubbo-remoting-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.remoting.Dispatcher
/dubbo/dubbo-remoting/dubbo-remoting-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.remoting.exchange.Exchanger
/dubbo/dubbo-remoting/dubbo-remoting-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.remoting.telnet.TelnetHandler
/dubbo/dubbo-remoting/dubbo-remoting-api/target/classes/META-INF/LICENSE
/dubbo/dubbo-remoting/dubbo-remoting-api/target/test-classes/log4j.xml
/dubbo/dubbo-remoting/dubbo-remoting-netty4/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.remoting.Transporter
/dubbo/dubbo-remoting/dubbo-remoting-netty4/target/classes/META-INF/LICENSE
/dubbo/dubbo-remoting/dubbo-remoting-zookeeper/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.remoting.zookeeper.ZookeeperTransporter
/dubbo/dubbo-remoting/dubbo-remoting-zookeeper/target/classes/META-INF/LICENSE
/dubbo/dubbo-rpc/dubbo-rpc-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Filter
/dubbo/dubbo-rpc/dubbo-rpc-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.InvokerListener
/dubbo/dubbo-rpc/dubbo-rpc-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Protocol
/dubbo/dubbo-rpc/dubbo-rpc-api/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.ProxyFactory
/dubbo/dubbo-rpc/dubbo-rpc-api/target/classes/META-INF/LICENSE
/dubbo/dubbo-rpc/dubbo-rpc-api/target/test-classes/log4j.xml
/dubbo/dubbo-rpc/dubbo-rpc-dubbo/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.status.StatusChecker
/dubbo/dubbo-rpc/dubbo-rpc-dubbo/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.remoting.Codec2
/dubbo/dubbo-rpc/dubbo-rpc-dubbo/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.remoting.telnet.TelnetHandler
/dubbo/dubbo-rpc/dubbo-rpc-dubbo/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Filter
/dubbo/dubbo-rpc/dubbo-rpc-dubbo/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Protocol
/dubbo/dubbo-rpc/dubbo-rpc-dubbo/target/classes/META-INF/LICENSE
/dubbo/dubbo-rpc/dubbo-rpc-dubbo/target/test-classes/log4j.xml
/dubbo/dubbo-rpc/dubbo-rpc-injvm/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.rpc.Protocol
/dubbo/dubbo-rpc/dubbo-rpc-injvm/target/classes/META-INF/LICENSE
/dubbo/dubbo-serialization/dubbo-serialization-api/target/classes/META-INF/LICENSE
/dubbo/dubbo-serialization/dubbo-serialization-hessian2/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.serialize.hessian2.dubbo.Hessian2FactoryInitializer
/dubbo/dubbo-serialization/dubbo-serialization-hessian2/target/classes/META-INF/dubbo/internal/com.alibaba.dubbo.common.serialize.Serialization
/dubbo/dubbo-serialization/dubbo-serialization-hessian2/target/classes/META-INF/LICENSE
/dubbo/dubbo-serialization/dubbo-serialization-hessian2/target/test-classes/com/alibaba/dubbo/common/serialize/dubbo/SimpleDO.fc
/dubbo/dubbo-serialization/dubbo-serialization-hessian2/target/test-classes/log4j.xml
/.idea/
/sofa/tracer-sample/tracer-sample-with-zipkin/target/classes/
/zookeeper/zookeeper-jute/target/
/zookeeper/
