<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="sampleService" class="edu.zjnu.spring.beanpostprocessor.SampleService"/>

    <bean name="sampleServiceNameProcessor" class="edu.zjnu.spring.beanpostprocessor.SampleServiceNameProcessor">
        <property name="name" value="超级大色魔"/>
    </bean>

    <bean name="BeanPostLogProcessor" class="edu.zjnu.spring.beanpostprocessor.BeanPostLogProcessor"/>
</beans>