<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="teacher" class="edu.zjnu.spring.ioc.lookup.Teacher"/>

    <bean name="student" class="edu.zjnu.spring.ioc.lookup.Student"/>

    <bean name="myBeanGetTest" class="edu.zjnu.spring.ioc.lookup.GetBeanTest">
        <lookup-method name="getBean" bean="student"/>
        <!--        <lookup-method name="getBean" bean="teacher"/>-->
    </bean>

</beans>