<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
    <!-- 通过<aop:config/>标签 -->

    <!-- 定义通知内容，也就是切入点执行前后需要做的事情 -->
    <bean name="sleepHelp" class="edu.zjnu.spring.aop.aopconfig.SleepHelper"/>
    <!-- 定义被代理者 -->
    <bean name="I" class="edu.zjnu.spring.aop.aopconfig.Me"/>

    <aop:config>
        <aop:aspect ref="sleepHelp">
            <aop:before method="beforeSleep" pointcut="execution(* *.sleep(..))"/>
            <aop:after method="afterSleep" pointcut="execution(* *.sleep(..))"/>
        </aop:aspect>
    </aop:config>

</beans>
