<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <bean id="settings"
          class="com.yaml.setting.SettingsFactoryBean">
    </bean>

    <context:component-scan base-package="com.yaml.setting"/>

    <context:property-placeholder properties-ref="applicationProperties"/>
    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <bean class="com.yaml.setting.PropertiesFactoryBean">
                <property name="settings" ref="settings"></property>
            </bean>
        </property>
    </bean>

</beans>