<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.zjnu.mapper.UserMapper">

    <resultMap id="userMap" type="edu.zjnu.model.User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="use_email"/>
        <result property="userInfo" column="use_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectById" resultMap="userMap">
        select
          t.id,
          t.user_name,
          t.user_password,
          t.user_email,
          t.user_info,
          t.head_img,
          t.create_time
         from sys_user t where t.id = #{id}
    </select>

    <select id="selectAll" resultType="edu.zjnu.model.User">
        select
          t.id,
          t.user_name,
          t.user_password,
          t.user_email,
          t.user_info,
          t.head_img,
          t.create_time
        from sys_user t
      </select>

</mapper>
